#what_sponsor{
    width: 100%;
    height: auto;
    background-color: var(--sub_color);
    color: var(--letter);
    font-family: var( --sub_font);
    padding-top: 250px;
    font-weight: 400;
}

.what_sponsor{
    word-break: keep-all;
}
.mains_first{
    font-family: var( --main_font);
    margin-bottom: 2%;
    font-size: clamp(12px, 1.8vw, 20px);
    font-weight: 600;
}
.mains_second{
    font-family: var( --main_font);
    font-weight: 600;
    font-size: clamp(18px, 2.2vw, 30px);
}
.mains_third{
    font-family: var( --sub_font);
    font-size: clamp(10px, 1.5vw, 18px);
}
.mains_fourth{
    font-family: var( --sub_font);
    margin-bottom: 2%;
    font-size: clamp(10px, 1.5vw, 18px);
}
.mains_fifth{
    font-family: var( --main_font);
    font-weight: 600;
    font-size: clamp(18px, 2.2vw, 30px);
}
.mains_sixth{
    font-family: var( --sub_font);
    margin-bottom: 2%;
    font-size: clamp(10px, 1.5vw, 18px);
}
.mains_seventh{
    font-family: var( --main_font);
    font-weight: 600;
    font-size: clamp(18px, 2.2vw, 30px);
}
.mains_eight{
    font-family: var( --sub_font);
    font-size: clamp(10px, 1.5vw, 18px);
}


article.sponsor{    
    width: 100%;    
    height: auto;
    padding-top: 10%;
    padding-bottom: 20%;
}
article.sponsor p.client{
    font-family: var( --main_font);
    margin-bottom: 2%;
    font-size: clamp(12px, 1.8vw, 20px);
    font-weight: 600;
}
article.sponsor ul.client_img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
article.sponsor ul.client_img li{}
article.sponsor ul.client_img li img{}



/* media */
@media (max-width: 1500px){
    .what_sponsor{margin-left: 20px;}
}
@media (max-width: 1200px){
    #what_sponsor{
        padding-top: 0px;
    }
}
@media (max-width: 1000px){
    #what_sponsor{padding-bottom: 8%}
    article.sponsor{padding-bottom: 10%;}
    article.sponsor ul.client_img{ gap: 0px;}
    article.sponsor ul.client_img li{padding: 1%;}
    article.sponsor ul.client_img li img{width: 80%;}
}
@media (max-width: 780px){
    #what_sponsor{padding-bottom: 0}
    article.sponsor{padding-bottom: 15%; padding-top: 10%;}
    article.sponsor ul.client_img{}
    article.sponsor ul.client_img li{padding-top: 8px; width: fit-content;}
    article.sponsor ul.client_img li img{width: 65%;}
}
@media (max-width: 690px){
    article.sponsor ul.client_img li{padding-top: 0; width:25%;}
    article.sponsor ul.client_img li img{width: 55%;}
    article.sponsor ul.client_img li:nth-of-type(18) img{width: 40%;}
}
@media (max-width: 570px){
    article.sponsor{padding-bottom: 20%;}
}
@media (max-width: 545px){
    article.sponsor ul.client_img {width: 90%;}
    article.sponsor ul.client_img li{width: 33.3%;}
}
@media (max-width: 410px){
    article.sponsor{padding-top: 18%;}

}