#title_about {
    width: 100%;
    height: 100vh;
}

.title_about {
    width: 100%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}

.title_text {
    font-family: var(--main_font);
}

.title_text h3 {
    font-size: clamp(30px, 8.5vw, 130px);
    font-weight: 700;
}

.title_text em {
    font-size: clamp(50px, 10vw, 150px);
    font-weight: 700;
}

.title_about p {
    font-family: var(--sub_font);
    font-weight: 400;
    font-size: clamp(25px, 2.5vw, 55px);
}




@media (max-width: 960px) {
    #title_about {
        height: 900px;
    }
}
@media (max-width: 768px) {
    #title_about {
        height: 800px;
    }

    .title_about {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .title_text h3 {
        font-size: 75px;
    }

    .title_text em {
        font-size: 85px;
    }

    .title_about p {
        text-align: center;
        padding-top: 5%;
    }
}
@media (max-width: 480px){
    #title_about {
        height: 700px;
    }
    .title_text h3 {
        font-size: 60px;
    }

    .title_text em {
        font-size: 75px;
    }

    .title_about p {
        font-size: 20px;
    }
}

@media (max-width: 320px){
    #title_about {
        height: 500px;
    }
    .title_text h3 {
        font-size: 45px;
    }

    .title_text em {
        font-size: 50px;
    }
    .title_about p {
        font-size: 18px;
    }
}