#about{
    /* margin-top: 10%; */
    width: 100%;
    height: 100vh;
    z-index: 5;    
    background-color: var(--main-color);
    background-image: var(--gradient-color);
    background-size: 100% 50%;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_inner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.1s ease-out;
    /* background-color: aqua; */
}
.me_img{
    /* width: 35%; */
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.me_img img{
    width: 100%;
}

.me_text{
    /* width: 60%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 2%;
}
.me_text .h3{
    margin-bottom: 5%;
}
.me_text p{
    font-family: var(--point-Kor);
    font-size: 30px;    
    /* font-size: clamp(20px, 1.5vw, 30px); */
    font-weight: 700;
    color: var(--point-color);
    margin-bottom: 10%;
}
.me_info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.me_info ul{
    height: auto;
}
.me_info ul li{
    font-family: var(--sub-font);
    /* font-size: 24px; */
    font-size: clamp(13px, 2vw, 24px);
    font-weight: 800;
    line-height: 2;
}

.me_info ul.info_list{
    margin-right: 8%;
    padding-left: 6%;
    position: relative;
}
.me_info ul.info_list::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-image: linear-gradient(to bottom, #E3FDF5, #FFE6FA);
}
.me_info ul.info_list li{
    text-transform: uppercase;
}

@media (max-width: 1440px) {}
@media (max-width: 1080px) {
    .me_text .h3{
        margin-bottom: 10%;
    }
    .me_text p{
        margin-bottom: 10%;
        font-size: clamp(18px, 3vw, 30px);
    }
    .me_info ul.info_list::before{
        top: 5%;
        height: 90%;
    }
}

/* 미디어 쿼리 */
@media (max-width: 1000px){}
@media (max-width: 768px){
    .about_inner{
        flex-direction: column;
    }
    .me_img{
        width: 100%;
        margin-right: 0;
    }
    .me_img img{
        width: 40%;
    }
    .me_text{
        width: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .me_text .h3{
        margin-bottom: 0;
        margin: 4% 0;
    }
    .me_text p{
        margin-bottom: 5%;
    }
    .me_info{
        justify-content: center;
    }
}
@media (max-width: 600px){
    #about{
        height: 850px;
    }
}
@media (max-width: 480px){
    #about{
        height: 650px;
    }
}
@media (max-width: 320px){}