#main{
    width: 100%;
    height: 100vh;
    background-image: var(--gradient-color);
    background-size: 50% 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_inner{
    width: 100%;
    height: 50%;
    position: relative;
}
.main_inner .point_text{
    top: 40%;
}

/* 미디어 쿼리 */
@media (max-width: 600px){
    #main{
        height: 850px;
    }
}  
@media (max-width: 480px){
    #main{
        height: 650px;
    }
} 