#project{
    width: 100%;
    height: 100vh;
    background-image: var(--gradient-color);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_inner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project_inner .h3{
    text-align: left;
}

.project_swiper{
    width: 100%;
    height: 70%;
    padding: 5%;
    background-color: var(--main-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.swiper-wrapper{}
.project_slide{
    width: 100%;
    height: auto;
    overflow: hidden;
    /* background-color: blue; */
}

.project_img{
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
    /* border: 1px solid #dadada; */
    overflow: hidden;
    padding: 2%;
}
.project_img img{
    width: 100%;
}

.project_text{
    position: absolute;
    bottom: 15%;
    right: 5%;
    /* transform: translateY(-50%); */
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid #dadada;
    z-index: 3;
}
    
.project_text ul{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_text ul li{
    font-family: var(--sub-font);
    /* font-size: 14px; */
    font-size: clamp(12px, 2vw, 14px);
}

.project_text ul li.p_type{
    /* font-size: 16px; */
    font-size: clamp(13px, 2vw, 16px);
    margin-bottom: 10%;
}

.project_text ul li.p_title{
    font-family: var(--main-font);
    /* font-size: 45px; */
    font-size: clamp(28px, 2vw, 45px);
    font-weight: 300;

}
.project_text ul li.p_title span{
    font-weight: 500;
}

.project_text ul li.p_desc{
    color: var(--point-color);
    margin-bottom: 10%;
}
.project_text ul li.p_stack{
    margin-bottom: 10%;
    font-weight: 800;
}
.project_text ul li.p_date{
    margin-bottom: 3%;
}
.project_text ul li.p_period{}

.project_text ul li.p_link{
    margin-top: 20%;
}
.project_text ul li.p_link a{
    display: inline-block;
    /* font-size: 16px; */
    font-size: clamp(13px, 10vw, 16px);
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 30px;
    transition: all 0.3s ease;
}
.project_text ul li.p_link a:last-child{
    margin-right: 0;
}
.project_text ul li.p_link a:hover{
    color: var(--point-color);
}

.project_swiper .swiper-pagination{
    position: absolute;
    right: 5%;
}
.project_swiper .swiper-pagination span.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    margin: 10px 0;
    background-color: #444444;
}
.project_swiper .swiper-pagination span.swiper-pagination-bullet-active{
    background-color: var(--point-color);
}

@media (max-width: 1440px){
    .project_swiper{
        height: 50vw;
    }
}
@media (max-width: 1080px){
    .project_swiper{
        padding: 3%;
    }
    .project_text{
        padding: 2%;
    }
    .project_text ul{
        width: 240px;  
    }
}
@media (max-width: 960px){
    /* #project{
        height: 1000px;
    } */
    .project_inner{
        height: 80%;
    }
    .project_text{
        bottom: 10%;
        right: 7%;
    }
    .project_text ul{
        width: 220px;  
    }
}
@media (max-width: 870px){
    .project_swiper{
        height: 95vw;
        padding: 0 5%;
    }
    .project_slide{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project_img{
        width: 100%;
        height: fit-content;
        position: static;
        transform: translateY(0);
        padding: 0 1% 5% 1%;
    }
    .project_img img{        
        outline: 1px solid #dadada; 
        outline-offset: 5px;        
    }
    .project_text{
        width: 100%;
        height: auto;
        margin: 0 2%;
        padding: 5% 0 0;
        position: static;
        border: none;
        border-top: 1px solid #dadada;
        /* background-color: aquamarine; */
    }
    .project_text ul{
        width: 100%;
        height: auto;
        justify-content: space-around;
    }
    .project_text ul li{
        /* font-size: 14px; */
        font-size: clamp(12px, 2vw, 14px);
        padding: 0.5% 0;
    }
    .project_text ul li.p_type{
        margin-bottom: 0;
        /* font-size: 16px; */
        font-size: clamp(13px, 2vw, 16px);
    }    
    .project_text ul li.p_title{
        /* font-size: 45px; */
        font-size: clamp(25px, 2vw, 45px);
    }    
    .project_text ul li.p_desc{
        margin-bottom: 0;
        display: none;
    }
    .project_text ul li.p_stack{
        margin-bottom: 0;
        margin-top: 2%;
    }
    .project_text ul li.p_date{
        margin-bottom: 0;
    }
    .project_text ul li.p_period{}    
    .project_text ul li.p_link{
        margin-top: 3%;
    }
    .project_text ul li.p_link a{        
        font-size: clamp(12px, 2vw, 16px);
    }
    .project_swiper .swiper-pagination{
        right: 0.7%;
    }
}
@media (max-width: 768px){
    .project_inner .h3{
        text-align: center;
    }
}
@media (max-width: 600px){
    #project{
        height: 850px;
    }
}
@media (max-width: 480px){
    #project{
        height: 650px;
    }
    .project_swiper{
        height: 450px;
        padding: 0 5%;
    }
    .project_img img{        
        outline: none;
    }
}
@media (max-width: 320px){
    .project_swiper{
        height: 400px;
    }
    .project_text ul li.p_stack{
        margin-top: 5%;
    }
    .project_text ul li.p_link{
        margin-top: 10%;
    }
}