@charset "utf-8";

:root{

  /* 폰트 지정 */
  --main_font: 'Aggravo', sans-serif;
  --sub_font: "Wanted Sans Variable", "Wanted Sans", sans-serif;


  /* 색상 지정 */
  --main_color: #050213;
  --sub_color: #F5F5F7;
  --point_color1: #E44848;
  
  --point_color2: #7422BF;
  --point_color3: #7422BF10;

  --letter:#1A2430;
}